
#root{
  margin: 0 auto;
  
}
.fundoLogin{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
  
}

.linha {
  width: 400px;

}

.coluna {

  background-color: rgba(202, 220, 243, 0.708);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.inButton{
 left: 36%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Login.png");
  background-size: cover;
  z-index: -1;
}
